modules = ["python-3.11", "postgresql-16", "python3"]

[nix]
channel = "stable-24_05"
packages = ["file", "imagemagick", "openssl", "postgresql"]

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:5000 --timeout 90 --keep-alive 10 --max-requests 1000 --max-requests-jitter 100 main:app"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "Run"
author = 42014378
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34511
externalPort = 5000

[[ports]]
localPort = 36141
externalPort = 3000

[[ports]]
localPort = 39861
externalPort = 3003

[[ports]]
localPort = 39979
externalPort = 4200

[[ports]]
localPort = 40617
externalPort = 6000

[[ports]]
localPort = 41759
externalPort = 3002

[[ports]]
localPort = 45305
externalPort = 3001

[[ports]]
localPort = 45361
externalPort = 5173

[objectStorage]
defaultBucketID = "replit-objstore-42af3b1d-2f64-453b-91fd-821709ea91e8"
