modules = ["python-3.11", "python3", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["file", "imagemagick", "openssl", "postgresql"]

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:5000 --timeout 90 --keep-alive 10 --max-requests 1000 --max-requests-jitter 100 main:app"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "Run"
author = 42014378
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 28737
externalPort = 8080
exposeLocalhost = true

[[ports]]
localPort = 28791
externalPort = 8099
exposeLocalhost = true

[[ports]]
localPort = 31460
externalPort = 8081
exposeLocalhost = true

[objectStorage]
defaultBucketID = "replit-objstore-42af3b1d-2f64-453b-91fd-821709ea91e8"
